
:root{
    --primary-color: #192231;
    --secondary-color: #985e6d;
    --background-color: #252629;
    --text-color: rgb(188, 199, 216);
    --text-color-two: #e7e6e6;
    --font-main: monospace;
}

body{
    font-family: var(--font-main);
}


