*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1d13;
}

#cursor{
    width: 3em;
    height: 3em;
    background-color: #ffe771;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
}

h1{
    text-align: center;
    margin-top: 5em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    position: absolute;
    color: #8a8672;
    font-size: 35px;
}